<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="notice-title" ng-bind="notice.title"></div>
            <div class="notice-tip">{{notice.noticeType}} {{notice.createdDate}}</div>
            <div class="notice-desc" ng-bind-html="to_trusted(notice.content)"></div>
        </div>
        <div  class="status-bar">
            <a href="#/"  class="btn btn-block col-back"><i class="fa fa-chevron-circle-left">&nbsp;返回列表</i></a>
        </div>
    </div>
    <input value="" id="cover" hidden/>
</div>
