<div class="paper-wrapper" ng-swipe-left="next()"  ng-swipe-right="last()">
    <div class="panel ques">
        <div class="panel-body ques">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">题目({{questionGroups[curParentIndex].quesType}} :{{curGroupIndex+1}} /{{questionGroups[curParentIndex].quesList.length}})</h3>
                </div>
                <div  ng-bind-html="curQuestion.question" class="panel-body"></div>
            </div>

            <div class="panel panel-blue" ng-show="curQuestion.stuAnswer">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        学生答案
                    </h3>
                </div>
                <div  ng-bind-html="curQuestion.stuAnswer" class="panel-body"></div>
            </div>
        </div>
        <div ng-if="answer" class="panel panel-blue fix panel-fix" >
            <div class="panel-heading">
                <h3 class="panel-title">答案/解析</h3>
                <button type="button" class="close ng-scope" ng-click="changeShow()">×</button>
            </div>
            <div class="panel-body">
                <div class="scroll">
                    <div ng-bind-html="curQuestion.analysis"></div>
                    <p class="halving-line" ng-if="curQuestion.analysis"></p>
                    <div class="text-left">正确答案：<a ng-bind-html="curQuestion.answer"></a></div>
                </div>
            </div>
        </div>
        <div ng-if="quesList" class="panel panel-blue fix panel-fix">
            <div class="panel-heading"  >
                <h3 class="panel-title">题目列表</h3>
                <button type="button" class="close ng-scope" ng-click="changeShow()">×</button>
            </div>
            <div class="panel-body" >
                <div class="question-nav">
                    <div class="type-nav">
                            <div ng-repeat="qGroup in questionGroups">
                                <div class="col-xs-3">
                                    {{qGroup.quesType}}：
                                </div>
                                <div class="col-xs-9">
                                    <span ng-repeat="q in qGroup.quesList" ng-class="{'active':q.quesId ==curQuestion.id,'wrong':q.status==0,'right':q.status==1,'half':q.status==2}" ng-click="selectQuesNum(q,$index,$parent.$index)" class="q-num">{{$index + 1}}</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 bottom-btn fix plan-btn-list">
            <div class="col-xs-4 bottom-btn" ng-if="curQuestion.answer"><a ng-click="changeShow(1)" ng-class="{'btn-active':answer}"  class="btn btn-block">答案解析</a></div>
            <div class="bottom-btn" ng-class="curQuestion.answer?'col-xs-4':'col-xs-6'"><a ng-click="changeShow(2)" ng-class="{'btn-active':quesList}"  class="btn  btn-block">题目列表</a></div>
            <div class="bottom-btn" ng-class="curQuestion.answer?'col-xs-4':'col-xs-6'">
                <a href="#/"  class="btn  btn-block col-back"><i class="fa fa-chevron-circle-left">&nbsp;返回列表</i></a>
            </div>
        </div>
    </div>
</div>
