<div class="panel">
    <div class="panel-body">
        <div class="row plan-info">
            <div class="col-xs-4 text-right"><img src="/assets/img/index/ic_launcher.png"></div>
            <div class="col-xs-4">
                <div ng-bind="node.teacherName" class="mrgb25"></div>
                <div ng-bind="node.nodeTypeName" class="label-grey"></div>
            </div>
            <div class="col-xs-4">
                <div ng-bind="node.subjectName" class="mrgb25"></div>
                <div ng-bind="node.nodeTime" class="label-grey"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <form class="form-horizontal display-table">
            <div class="form-group">
                <div class="col-xs-4 control-label text-right">名称：</div>
                <div class="col-xs-8 control-label text-left">
                    <p ng-bind="node.nodeName"></p>
                </div>
            </div>
            <div ng-if="node.nodeType==5" class="form-group">
                <div class="col-xs-4 control-label text-right">类型：</div>
                <div class="col-xs-8 control-label text-left">
                    <p ng-bind="node.fileType"></p>
                </div>
            </div>
            <div ng-if="node.nodeType==2||node.nodeType==3" class="form-group">
                <div class="col-xs-4 control-label text-right">内容：</div>
                <div class="col-xs-8 control-label text-left">
                    <div style="margin-left: -15px" ng-include="'/node_static/javascripts/app/view/plan_nodes/menu-recursion.html'" ng-init="submenu = links"></div>
                </div>
            </div>
            <div ng-if="node.nodeType==1" class="form-group">
                <div class="col-xs-4 control-label text-right">内容：</div>
                <div class="col-xs-8 control-label text-left">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="link in node.osrCwScoVOList">
                            <div class="col-xs-8"><a>{{link.scoName}}</a></div>
                            <div class="col-xs-4"><a>播放</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="node.nodeType==4" class="form-group">
                <div class="col-xs-4 control-label text-right">图片：</div>
                <div class="col-xs-8 control-label text-left">
                    <p ng-if="!picture">暂无图片</p>
                    <img ng-repeat="pic in picture track by $index" src="{{pic}}">
                </div>
            </div>
            <div ng-if="node.nodeType==4" class="form-group">
                <div class="col-xs-4 control-label text-right">语音：</div>
                <div class="col-xs-8 control-label text-left">
                    <p ng-if="!node.voice">语音</p>
                    <audio ng-if="node.voice" controls="controls" src="{{node.voice}}"></audio>
                </div>
            </div>
            <div ng-if="node.nodeType==4" class="form-group">
                <div class="col-xs-4 control-label text-right">内容：</div>
                <div class="col-xs-8 control-label text-left" ng-bind-html="node.imgText">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="plan-btn-list">
    <div ng-if="node.nodeType==4" class="col-xs-12 bottom-btn fix">
        <div class="col-xs-12 bottom-btn"><a ng-click="over()" class="btn  btn-block col-xs-6" ng-disabled="node.isFinish">已完成</a></div>
    </div>
    <div ng-if="node.nodeType==2||node.nodeType==3" class="col-xs-12 bottom-btn fix">
        <div class="bottom-btn" ng-class="node.paperId?'col-xs-6':'col-xs-12'"><a href="#/{{node.nodeType}}/{{nodeId}}/{{node.resId}}/view" class="btn  btn-block col-xs-6">查看作业</a></div>
        <div class="col-xs-6 bottom-btn"><a ng-click="analyze(node.nodeType,node.resId,node.paperId)" class="btn  btn-block col-xs-6 border-left-2" ng-if="node.paperId">分析作业</a></div>
    </div>
    <div ng-if="node.nodeType==5" class="col-xs-12 bottom-btn fix">
        <div class="col-xs-6 bottom-btn"><a ng-click="collectWork()" class="btn  btn-block col-xs-6">{{node.isEnshrine?'取消收藏':'收藏'}}</a></div>
        <div class="col-xs-6 bottom-btn"><a href="/oss/plan_nodes/{{nodeId}}/download" class="btn  btn-block col-xs-6 border-left-2">下载</a></div>
    </div>
</div>
