<div class="analyze">
    <div class="row category">
        <div ng-repeat="cat in categories" class="col-xs-4 text-center" ng-class="{'active':curCat === cat.id}" ng-click="changeCat(cat)">{{cat.name}}</div>
    </div>
    <div class="content mrgt10">
        <div ng-if="curCat === 'kw'">
            <echarts-force init-nodes="knEchartsNodes"></echarts-force>
        </div>
        <div ng-if="curCat === 'st'">
            <echarts-bar init-data="stEchartsData"></echarts-bar>
        </div>
        <div ng-show="curCat === 'ra'">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>排名</td>
                    <td>班级</td>
                    <td>姓名</td>
                    <td>成绩</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rankRows">
                    <td>{{row.rank}}</td>
                    <td>{{row.className}}</td>
                    <td>{{row.studentName}}</td>
                    <td>{{row.studentScore}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
