<div class="va-list">
    <div infinite-scroll="loadData()" infinite-scroll-disabled='noMore'>
        <div class="va-list-item clearfix"
             ng-click="showVote(vote)"
             ng-repeat="vote in votes">
            <div>
                <img ng-src="{{vote.coverImg?vote.coverImg:'/node_static/images/img_default.png'}}"/>
            </div>
            <div class="item-content">
                <div class="item-name">{{vote.voteName}}</div>
                <div class="item-date"><i class="fa fa-eye"></i>&nbsp;&nbsp;{{vote.readCount}} &nbsp;&nbsp;&nbsp; <i
                        class="fa fa-clock-o"></i>&nbsp;&nbsp;{{vote.deadline}}
                </div>
            </div>
            <img ng-src="{{vote.voteStatus==1?'/node_static/images/vote_status_apply.png':'/node_static/images/act_status_end.png'}}"/>
        </div>
    </div>
    <div class="text-center" ng-show="!noMore"><i class="fa fa-spinner fa-pulse"></i> 数据加载中...</div>
    <div class="text-center" ng-show="noMore"><i class="fa fa-frown-o"></i> 没有更多数据</div>
</div>
