doctype html
html(ng-app='fscApp')
    head
        title= title
        link(rel='stylesheet', href='/node_static/stylesheets/common.css')
        link(rel='stylesheet', href='/node_static/stylesheets/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/node_static/stylesheets/fontawesome/css/font-awesome.min.css')
    body
        block content

        script(src='/node_static/javascripts/thd/fileswf.js')
        script(src="http://api.map.baidu.com/api?v=2.0&ak=pQpLf1lDUhzqMfavaK2Cp9M5")
        script(src='/node_static/bower_components/jquery/jquery.min.js')
        script(src='/node_static/bower_components/angular/angular.js')
        script(src='/node_static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='/node_static/bower_components/angular-cookies/angular-cookies.min.js')
        script(src='/node_static/bower_components/angular-sanitize/angular-sanitize.min.js')
        script(src='/node_static/bower_components/angular-animate/angular-animate.min.js')
        script(src='/node_static/bower_components/angular-route/angular-route.min.js')
        script(src='/node_static/bower_components/ng-file-upload/ng-file-upload.min.js')
        script(src='/node_static/bower_components/angular-local-storage/dist/angular-local-storage.min.js')

        script(src='/node_static/javascripts/thd/socket.io-1.3.5.js')

        script(src='/node_static/javascripts/app/app.js')

        script(src='/node_static/javascripts/app/services/global.js')
        script(src='/node_static/javascripts/app/services/constants.js')
        script(src='/node_static/javascripts/app/services/msg.js')
        script(src='/node_static/javascripts/app/services/loading.js')
        script(src='/node_static/javascripts/app/services/ajax.js')
        script(src='/node_static/javascripts/app/services/resource.js')
        script(src='/node_static/javascripts/app/services/resource_pool.js')
        script(src='/node_static/javascripts/app/services/socket.js')
        script(src='/node_static/javascripts/app/services/utils.js')
        script(src='/node_static/javascripts/app/services/sync.js')
        script(src='/node_static/javascripts/app/services/msg_register.js')
        script(src='/node_static/javascripts/app/services/dialog.js')
        script(src='/node_static/javascripts/app/services/emoji.js')

        script(src='/node_static/javascripts/app/ctrl/im/sidebar.js')
        script(src='/node_static/javascripts/app/ctrl/im/session.js')
        script(src='/node_static/javascripts/app/ctrl/im/linkman.js')
        script(src='/node_static/javascripts/app/ctrl/im/group.js')

        script(src='/node_static/javascripts/app/directive/resize.js')
        script(src='/node_static/javascripts/app/directive/recorder_left_msg.js')
        script(src='/node_static/javascripts/app/directive/recorder_right_msg.js')
        script(src='/node_static/javascripts/app/directive/linkman_group.js')
        script(src='/node_static/javascripts/app/directive/recorder_left_pic.js')
        script(src='/node_static/javascripts/app/directive/recorder_right_pic.js')
        script(src='/node_static/javascripts/app/directive/recorder_left_vol.js')
        script(src='/node_static/javascripts/app/directive/recorder_left_pos.js')
        script(src='/node_static/javascripts/app/directive/recorder_right_vol.js')
        script(src='/node_static/javascripts/app/directive/recorder_right_doc.js')
        script(src='/node_static/javascripts/app/directive/recorder_tip.js')
        script(src='/node_static/javascripts/app/directive/new-group.js')



