.activity img {
  display: block;
  max-width: 100%;
}
.activity .activity-content {
  margin-bottom: 100px;
}
.activity .vote {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(66, 66, 74, 0.96);
  color: #fff;
  z-index: 1000;
}
.activity label {
  display: block;
}
.activity .fa {
  color: #ddd;
}
.activity .alert {
  padding: 10px 15px;
  margin: 0;
}
.activity .alert-disabled {
  background-color: #dcdcdc;
  color: #000;
}
.activity .active {
  background: #428bca;
  color: #fff;
}
.activity .active .fa {
  color: #fff;
}
.activity .active .glyphicon-ok {
  display: block;
}
.activity .radio,
.activity .checkbox {
  padding: 10px 10px 10px 0;
}
.activity .loading {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}
.activity .fa-spinner {
  font-size: 40px;
}
.notify {
  position: fixed;
  top: -52px;
  z-index: 2000;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  border-radius: 0 0 4px 4px;
  text-align: center;
}
.notify .alert {
  border-radius: 0 0 4px 4px;
}
.notify .loading {
  position: relative;
  top: 52px;
  display: none;
}
.notify .loading.show {
  display: block;
}
.notify .messages {
  position: relative;
  top: 0px;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -ms-transition: top 0.4s;
  -o-transition: top 0.4s;
  transition: top 0.4s;
}
.notify .messages.show {
  top: 52px;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
