.analyze .category > div {
  padding: 10px 0;
  border-bottom: 5px solid #dddddd;
}
.analyze .category > div:hover {
  background: #dddddd;
}
.analyze .category .active {
  border-color: #5cb85c;
}
.analyze .content .echarts-force {
  width: 100%;
  height: 480px;
}
.analyze .content .echarts-bar {
  width: 100%;
  height: 400px;
}
.analyze .content .table tr > th,
.analyze .content .table tr > td {
  text-align: center;
}
.analyze .content {
  margin-left: 0px;
}
.analyze .btn.active {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
