.paper-wrapper .question-nav {
  width: 100%;
  background: #fff;
  padding-top: 10px;
}
.paper-wrapper .question-nav .col-xs-3,
.paper-wrapper .question-nav .col-xs-9 {
  padding: 0px;
}
.paper-wrapper .question-nav .type-nav,
.paper-wrapper .question-nav .num-nav {
  overflow: auto;
}
.paper-wrapper .question-nav .nav {
  display: inline-block;
  white-space: nowrap;
}
.paper-wrapper .question-nav .nav-tabs > li {
  float: none;
  display: inline-block;
}
.paper-wrapper .question-nav .tab-content {
  overflow: auto;
}
.paper-wrapper .question-nav .tab-pane {
  padding: 20px 10px;
  white-space: nowrap;
}
.paper-wrapper .question-nav .q-num {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 26px;
  border-radius: 30px;
  margin-right: 15px;
  text-align: center;
  color: #727272;
  border: 2px solid #727272;
  cursor: pointer;
  margin-bottom: 10px;
}
.paper-wrapper .question-nav .q-num:hover {
  background: #a4a4a4;
}
.paper-wrapper .question-nav .q-num.active {
  color: #fff;
  background: #727272;
  border-color: #727272 !important;
}
.paper-wrapper .question-nav .q-num.right {
  border-color: #18C63D;
  color: #fff;
  background: #18C63D;
}
.paper-wrapper .question-nav .q-num.wrong {
  border-color: #F44D7B;
  color: #fff;
  background: #F44D7B;
}
.paper-wrapper .question-nav .q-num.half {
  border-color: #FB9032;
  color: #fff;
  background: #FB9032;
}
.paper-wrapper .MathTable {
  border: 0 none;
  direction: ltr;
  display: inline;
  float: none;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  word-spacing: normal;
  word-wrap: normal;
}
.paper-wrapper .MathTable table {
  border-collapse: collapse;
  margin: 0;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  border: 0;
  float: none;
  display: inline-block;
  zoom: 0;
}
.paper-wrapper .MathTable div,
.paper-wrapper .MathTable span {
  border: 0 none;
  height: auto;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: normal;
  vertical-align: baseline;
}
.paper-wrapper .MathTable table td {
  border: 0 none;
  font-size: inherit;
  line-height: normal;
  padding: 0;
  width: auto;
}
.panel {
  width: 100%;
}
.panel-fix {
  bottom: 20px;
  z-index: 2001;
  height: 60%;
}
.panel-fix .panel-body {
  padding: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.panel-fix .panel-body li {
  padding-left: 0px;
}
.btn.active {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
.phone-body {
  background: #F0EFF5;
  font-family: 'Microsoft Yahei', sans-serif, Simsun, Arial;
}
.display-table {
  display: table;
  width: 100%;
  min-height: 20em;
}
.plan-info {
  margin-top: 20px;
  display: -webkit-box;
}
.plan-info img {
  width: 64px;
  height: 64px;
  border-radius: 40px;
}
.label-grey {
  color: #A0A0A0;
}
.plan-btn-list {
  z-index: 2001;
}
.plan-btn-list .btn {
  border-radius: 0px;
  color: #ffffff;
  background-color: #949CA7;
  font-size: 20px;
}
.plan-btn-list .btn-active {
  border-radius: 0px;
  color: #ffffff;
  background-color: #2878BF;
  font-size: 20px;
}
.plan-btn-list .col-back {
  background-color: #FB9030;
  border-color: #fb9030;
}
.plan-btn-list .border-left-2 {
  border-left: 1px solid #87909A;
}
.view {
  height: 100%;
}
.view .paper-wrapper {
  height: 100%;
}
.view .paper-wrapper .panel-blue .panel-heading {
  background-color: #EEF7FE;
  border-color: #EEF7FE;
}
.view .paper-wrapper .panel-blue .panel-heading .close {
  position: absolute;
  right: 15px;
  top: -3px;
  border: 0;
  font-size: 46px;
}
.view .paper-wrapper .ques {
  height: 95%;
  padding: 0px;
  border: 0px;
  padding-top: 20px;
}
.label-blue {
  color: #2878BF;
}
.global-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background: #000;
  opacity: 0.5;
}
h3,
.h3 {
  font-size: 24px !important;
  font-family: 'Microsoft Yahei', sans-serif, Simsun, Arial !important;
}
.analyze {
  height: 100%;
  background-color: white;
}
