@import '_variable.less';
.paper-wrapper{
  .question-nav{
    width: 100%;
    background: #fff;
    padding-top:10px;
    //    border-top:3px solid @base-border-clr;
    .type-nav,.num-nav{
      overflow: auto;
    }
    .nav{
      display: inline-block;
      white-space: nowrap;
    }
    .nav-tabs > li{
      float:none;
      display: inline-block;
    }
    .tab-content{
      overflow: auto;
    }
    .tab-pane{
      padding: 20px 10px;
      white-space: nowrap;
      //      max-width: 9999px;
    }
    .q-num{
      display: inline-block;
      width:30px;
      height:30px;
      line-height: 26px;
      border-radius: 30px;
      margin-right:15px;
      text-align: center;
      color:@help-text-clr;
      //      background: #777;
      border:2px solid @help-text-clr;
      cursor: pointer;
      //      &:hover{
      //        background: @help-text-clr - 50;
      //      }
    }
    .q-num:hover{
      background: @help-text-clr + 50;
    }
    .q-num.active{
      color:#fff;
      background: @help-text-clr;
      border-color: @help-text-clr !important;
    }
    .q-num.right{
      border-color: #18C63D;
      color:#fff;
      background: #18C63D;
    }
    .q-num.wrong{
      border-color: #F44D7B;
      color:#fff;
      background: #F44D7B;
    }
    .q-num.half{
      border-color: #FB9032;
      color:#fff;
      background: #FB9032;
    }
  }
  .MathTable {
    border: 0 none;
    direction: ltr;
    display: inline;
    float: none;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    //    white-space: nowrap;
    word-spacing: normal;
    word-wrap: normal;
    table {
      border-collapse: collapse;
      margin: 0;
      padding: 1px;
      text-align: center;
      vertical-align: middle;
      line-height: normal;
      font-size: inherit;
      font-style: normal;
      font-weight: normal;
      border: 0;
      float: none;
      display: inline-block;
      zoom: 0
    }
    div, span {
      border: 0 none;
      height: auto;
      line-height: normal;
      margin: 0;
      padding: 0;
      text-align: left;
      white-space: normal;
      vertical-align: baseline;
    }
    table td {
      border: 0 none;
      font-size: inherit;
      line-height: normal;
      padding: 0;
      //      white-space: nowrap;
      width: auto;
    }
  }
}
.panel{
  width: 100%;
}
.panel-fix{
  bottom: 20px;
  z-index: 2001;
  min-height: 60%;
  .panel-body {
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    li {
      padding-left: 0px;
    }
  }
}
.btn.active {
  box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}
.phone-body{
  background: #F0EFF5;
  font-family: 'Microsoft Yahei', sans-serif, Simsun, Arial
}
.display-table{
  display: table;
  width: 100%;
  min-height: 20em;
}
.plan-info{
  margin-top: 20px;
  display: -webkit-box;
  img{
    width: 64px;
    height:64px;
    border-radius: 40px;
  }
}
.label-grey{
  color: #A0A0A0;
}
.plan-btn-list{
  z-index: 2001;
  .btn{
    border-radius: 0px;
    color: #ffffff;
    background-color: #949CA7;
    font-size: 20px;
  }
  .border-left-2{
    border-left: 1px solid #87909A;
  }
  .btn:hover,.btn:focus,.btn:active{
    border-radius: 0px;
    color: #ffffff;
    background-color: #2878BF;
    font-size: 20px;
  }
}
.view{
  height: 100%;
  .paper-wrapper{
    height: 100%;
    .panel-blue{
      .panel-heading{
        background-color: #EEF7FE;
        border-color: #EEF7FE;
        .close{
          position: absolute;
          right: 15px;
          top: -3px;
          border: 0;
          font-size: 46px;
        }
      }
    }
    .ques{
      height: 95%;
      padding: 0px;
      border: 0px;
      padding-top: 20px;
    }
  }
}
.label-blue{
  color: #2878BF;
}
.global-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background: #000;
  opacity: 0.5;
}
h3, .h3 {
  font-size: 24px !important;
  font-family: 'Microsoft Yahei', sans-serif, Simsun, Arial !important;;
}