.va-list .hover {
  background-color: #ccc;
}
.va-list .va-list-item {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.va-list .va-list-item img {
  width: 50px;
  height: 50px;
}
.va-list .va-list-item .item-name {
  font-size: 16px;
  padding-left: 10px;
}
.va-list .va-list-item .item-date {
  font-size: 12px;
  color: #b4b3b1;
  padding-left: 10px;
  padding-top: 10px;
}
