.vote .vote-list .hover {
  background-color: #ccc;
}
.vote .vote-list .vote-list-item {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.vote .vote-list .vote-list-item img {
  width: 50px;
  height: 50px;
}
.vote .vote-list .vote-list-item .item-name {
  font-size: 16px;
  padding-left: 10px;
}
.vote .vote-list .vote-list-item .item-date {
  font-size: 12px;
  color: #b4b3b1;
  padding-left: 10px;
  padding-top: 10px;
}
.vote img {
  display: block;
  max-width: 100%;
}
.vote .status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(66, 66, 74, 0.96);
  color: #fff;
  z-index: 1000;
}
.vote .status-bar .alert {
  padding: 10px 15px;
  margin: 0;
}
.vote .status-bar .alert-disabled {
  background-color: #dcdcdc;
  color: #000;
  padding-top: 6px;
  padding-bottom: 6px;
}
.vote .vote-content {
  margin-bottom: 100px;
}
.vote .vote-content label {
  display: block;
}
.vote .vote-content .fa {
  color: #ddd;
}
.vote .vote-content .active {
  background: #428bca;
  color: #fff;
}
.vote .vote-content .active .fa {
  color: #fff;
}
.vote .vote-content .active .glyphicon-ok {
  display: block;
}
.vote .vote-content .radio,
.vote .vote-content .checkbox {
  padding: 10px 10px 10px 0;
}
.vote .loading {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}
.vote .loading .fa-spinner {
  font-size: 40px;
}
.notify {
  position: fixed;
  top: -52px;
  z-index: 2000;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  border-radius: 0 0 4px 4px;
  text-align: center;
}
.notify .alert {
  border-radius: 0 0 4px 4px;
}
.notify .loading {
  position: relative;
  top: 52px;
  display: none;
}
.notify .loading.show {
  display: block;
}
.notify .messages {
  position: relative;
  top: 0px;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -ms-transition: top 0.4s;
  -o-transition: top 0.4s;
  transition: top 0.4s;
}
.notify .messages.show {
  top: 52px;
}
