.vote img {
  display: block;
  max-width: 100%;
}
.vote .activity-content {
  margin-bottom: 100px;
}
.vote .vote {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(66, 66, 74, 0.96);
  color: #fff;
  z-index: 1000;
}
.vote label {
  display: block;
}
.vote .fa {
  color: #ddd;
}
.vote .alert {
  padding: 10px 15px;
  margin: 0;
}
.vote .alert-disabled {
  background-color: #dcdcdc;
  color: #000;
}
.vote .active {
  background: #428bca;
  color: #fff;
}
.vote .active .fa {
  color: #fff;
}
.vote .active .glyphicon-ok {
  display: block;
}
.vote .radio,
.vote .checkbox {
  padding: 10px 10px 10px 0;
}
