doctype html
html(ng-app='fscApp')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        title= title
        link(rel='stylesheet', href='/node_static/stylesheets/activity.css')
        link(rel='stylesheet', href='/node_static/stylesheets/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/node_static/stylesheets/fontawesome/css/font-awesome.min.css')
    body.activity
        .notify
            div(class="messages alert alert-{{ROOT_messageData.globalMsg.type}} {{ROOT_messageData.globalMsg.show ? 'show' : ''}}")
                p(ng-repeat="item in ROOT_messageData.globalMsg.messages" ng-bind="item.msg")

        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a(class="navbar-brand pull-right" href="#/self" ng-show="isLogin&&!inSelf")
                        i.fa.fa-user
                    a(class="navbar-brand" href="{{backUrl}}")
                        i(ng-class="{'fa fa-chevron-left':showBack,'fa fa-home':!showBack}")

        div(ng-hide="loading" ng-view)
        div.loading(ng-show="loading")
            i.fa.fa-spinner.fa-pulse


        script(src='/node_static/bower_components/angular/angular.min.js')
        script(src='/node_static/bower_components/angular-route/angular-route.min.js')
        script(src='/node_static/bower_components/angular-touch/angular-touch.min.js')
        script(src='/node_static/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
        script(src='/node_static/javascripts/app/ctrl/fsc/activity.js')
        script(src='/node_static/javascripts/app/services/loading.js')
        script(src='/node_static/javascripts/app/services/ajax.js')
        script(src='/node_static/javascripts/app/services/resource.js')
        script(src='/node_static/javascripts/app/services/msg.js')
        script(src='/node_static/javascripts/app/directive/touch.js')


