extends layout
block content
        div.vote(ng-controller="PlanNodeCtrl")
            div.row.plan-info
                div.col-xs-7
                    div.col-xs-6
                        img(src="/assets/img/index/ic_launcher.png")
                    div.col-xs-6
                        div.mrgb25(ng-bind="node.teacherName")
                        div(ng-bind="node.nodeTypeName")
                div.col-xs-5
                    div.mrgb25(ng-bind="node.subjectName")
                    div(ng-bind="node.nodeTime")
            p.halving-line
            form.form-horizontal.mrgt20
                div.form-group
                    div.col-xs-4.control-label.text-right 名称：
                    div.col-xs-8.control-label.text-left
                        p(ng-bind="node.nodeName")
                div.form-group(ng-if="node.nodeType==5")
                    div.col-xs-4.control-label.text-right 类型：
                    div.col-xs-8.control-label.text-left
                        p(ng-bind="node.fileType")
                div.form-group(ng-if="node.nodeType==2||node.nodeType==3")
                    div.col-xs-4.control-label.text-right 内容：
                    div.col-xs-8.control-label.text-left
                        div(ng-include="'/node_static/javascripts/app/view/plan_nodes/menu-recursion.html'",ng-init="submenu = links")
                div.form-group(ng-if="node.nodeType==1")
                    div.col-xs-4.control-label.text-right 内容：
                    div.col-xs-8.control-label.text-left
                        ul.nav.nav-pills.nav-stacked
                            li(ng-repeat="link in node.osrCwScoVOList")
                                div.col-xs-8
                                    a {{link.scoName}}
                                div.col-xs-4
                                    a 播放
                div.form-group(ng-if="node.nodeType==4")
                    div.col-xs-4.control-label.text-right 图片：
                    div.col-xs-8.row
                        img.col-xs-4(ng-repeat="pic in picture track by $index" src="{{pic}}")
                div.form-group(ng-if="node.nodeType==4")
                    div.col-xs-4.control-label.text-right 语音：
                    div.col-xs-8
                        audio(controls="controls",src="{{node.voice}}")
                    div.form-group(ng-if="node.nodeType==4")
                    div.col-xs-4.control-label.text-right 内容：
                    div.col-xs-8.control-label.text-left
                        p(ng-bind="node.imgText")
                div.col-xs-12.bottom-btn.fix(ng-if="node.nodeType==4")
                    div.col-xs-12.bottom-btn
                        a(class="btn btn-default btn-block col-xs-6",ng-click="over()") 已完成
                div.col-xs-12.bottom-btn.fix(ng-if="node.nodeType==2||node.nodeType==3")
                    div.col-xs-6.bottom-btn
                        a(class="btn btn-default btn-block col-xs-6",href="/app/work_view/{{nodeId}}?suuid={{suuid}}") 查看作业
                    div.col-xs-6.bottom-btn
                        a(class="btn btn-default btn-block col-xs-6",ng-click="/app/work_analyze/{{nodeId}}?suuid={{suuid}}") 分析作业
                div.col-xs-12.bottom-btn.fix(ng-if="node.nodeType==5")
                    div.col-xs-6.bottom-btn
                        a(class="btn btn-default btn-block col-xs-6",ng-click="collectWork()" ) 收藏
                    div.col-xs-6.bottom-btn
                        a(class="btn btn-default btn-block col-xs-6",href="/oss/plan_nodes/{{nodeId}}/download") 下载


