<div class="session frame">
    <div class="frame-left">
        <div class="frame-left-header">
            <input class="form-control" type="text" ng-model="keywords"/>
        </div>
        <div class="session-list" resize style="height:{{winHeight-90}}px">
            <div ng-class="{'session-list-item':true,'item-select':session.id==selectSession.id}" class="session-list-item clearfix"
                 ng-click="showSession(session)"
                 ng-repeat="session in sessionList | filter:keywords"
                 ng-mouseenter="sessionRemove(session)" ng-mouseleave="sessionNotRemove(session)">
                <div class="display-inline">
                     <span>
                         <i ng-click="removeFromSession(session)" ng-if="session.removeSession==true" class="fa fa-close"></i>
                     </span>
                </div>
                <div class="display-inline">
                     <span class="session-portrait{{session.portraitArray.length}}">
                        <span class="session-portrait-{{$index}}" ng-repeat="portrait in session.portraitArray track by $index">
                            <img ng-src="{{portrait}}"/>
                        </span>
                    </span>
                    <span class="session-label">
                        {{ session.msName | limitTo: 6 }}{{session.msName.length > 6 ? '...' : ''}}
                    </span>
                    <span ng-if="session.unreadCount>0" class="badge pull-right">{{session.unreadCount}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-right">
        <div class="default-view" ng-hide="selectSession">
            <i class="fa fa-weixin"></i>
        </div>
        <div class="session-chat" ng-show="selectSession">
            <div class="chat-header">
                <span class="chat-header-name">
                    {{ selectSession.msName| limitTo: 30}}{{selectSession.msName.length > 30 ? '...' : ''}}
                </span>
            </div>
            <!--<div  class="chat-content" resize style="height:{{winHeight-272+ToNumber(viewHeight)}}px;word-break:break-all;">-->
            <div  class="chat-content" resize ng-style="{height:(winHeight-viewHeight-90)+'px','word-break':'break-all'}">
                <div ng-repeat="recorder in selectSession.recorders">
                    <div ng-if="recorder.type=='5'">
                        <recorder_tip recorder="recorder"></recorder_tip>
                    </div>
                    <div ng-if="recorder.type!='5'">
                        <div ng-if="recorder.isRight" >
                            <div ng-if="recorder.type!='2'&&recorder.type!='3'&&recorder.type!='9'">
                               <recorder_right_msg recorder="recorder"></recorder_right_msg>
                            </div>
                            <div ng-if="recorder.type=='3'">
                                <recorder_right_pic recorder="recorder"></recorder_right_pic>
                            </div>
                            <div ng-if="recorder.type=='2'">
                                <recorder_right_vol recorder="recorder"></recorder_right_vol>
                            </div>
                            <div ng-if="recorder.type=='9'">
                                <recorder_right_doc recorder="recorder"></recorder_right_doc>
                            </div>
                        </div>
                        <div ng-if="recorder.isLeft">
                            <div ng-if="recorder.type!='2'&&recorder.type!='3'&&recorder.type!='9'">
                                <recorder_left_msg recorder="recorder"></recorder_left_msg>
                            </div>
                            <div ng-if="recorder.type=='3'">
                                <recorder_left_pic recorder="recorder"></recorder_left_pic>
                            </div>
                            <div ng-if="recorder.type=='2'">
                                <recorder_left_vol recorder="recorder"></recorder_left_vol>
                            </div>
                            <div ng-if="recorder.type=='9'">
                                <recorder_left_doc recorder="recorder"></recorder_left_doc>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <div>
                    <input id="chat-input" ng-show="!view" type="text" class="form-control" ng-model="msg" placeholder="输入..." ng-keypress="send($event)" ng-blur="blur()" ng-focus="focu()">
                    <div class="img-preview" ng-show="view">
                        <div class="img-preview-img">
                            <!--图片显示区域-->
                            <img ng-src="{{file.filePath}}">
                        </div>
                        <div class="img-preview-button">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="imgDelete()">删除</button>
                            <!--//删除按钮-->
                        </div>
                    </div>
                </div>
                <div class="input-widget">
                    <!--表情-->
                    <span class="input-widget-face" ng-click="faceOn()"><i class="fa fa-smile-o"></i></span>
                    <!--图片上传-->
                    <span class="input-widget-pic" ngf-select ng-model="file" ngf-multiple="false"><i class="fa fa-file-image-o"></i></span>
                    <div class="emotion" ng-if="click">
                        <table>
                            <tr ng-repeat="items in emojiArray"><td ng-repeat="item in items"><img ng-src="/node_static/images/emoji/{{item.img}}" ng-click="faceLable(item.label,blur())"></td></tr>
                        </table>
                    </div>
                </div>
                <div class="input-send">
                    <button ng-class="{'btn btn-default':msg.length==0&&!view,'btn btn-success':msg.length!=0||view}" ng-disabled="msg.length==0&&!view" type="button" ng-click="doSend()">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
