<div>
    <div class="modal-header ">
        <i ng-click="closeMenu()" class="fa fa-close pull-right" style="padding-right: 4px;padding-top: 1px;"></i>
    </div>
    <div class="linkman-open" ng-show="user">
        <div class="linkman-open-name">
            <img ng-src="{{recorder.portrait}}"/>
        </div>
        <div class="linkman-open-name">
            {{user.name}}
        </div>
        <div class="linkman-open-other" ng-if="user.userType==2">
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">学号</span>
                <span class="linkman-open-other-value">{{user.sid}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">年级</span>
                <span class="linkman-open-other-value">{{user.gradeName}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">班级</span>
                <span class="linkman-open-other-value">{{user.className}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">地址</span>
                <span class="linkman-open-other-value">{{user.address?user.address:"无"}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">邮件</span>
                <span class="linkman-open-other-value">{{user.email?user.email:"无"}}</span>
            </div>
        </div>

        <div class="linkman-open-other" ng-if="user.userType==1">
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label linkman-open-other-label-color">工号&nbsp;:</span>
                <span class="linkman-open-other-value">{{user.tid}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label linkman-open-other-label-color">手机&nbsp;:</span>
                <span class="linkman-open-other-value">{{user.mobile}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label linkman-open-other-label-color">学科&nbsp;:</span>
                <span class="linkman-open-other-value">{{user.subjectName}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label linkman-open-other-label-color">地址&nbsp;:</span>
                <span class="linkman-open-other-value">{{user.address?user.address:"无"}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label linkman-open-other-label-color">邮件&nbsp;:</span>
                <span class="linkman-open-other-value">{{user.email?user.email:"无"}}</span>
            </div>
        </div>
        <div class="linkman-open-other" ng-if="user.userType==3">
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">性别</span>
                <span class="linkman-open-other-value" ng-if="user.gender==1">男</span>
                <span class="linkman-open-other-value" ng-if="user.gender==2">女</span>
                <span class="linkman-open-other-value" ng-if="!user.gender">未知</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">邮件</span>
                <span class="linkman-open-other-value">{{user.email?user.email:"无"}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">电话</span>
                <span class="linkman-open-other-value">{{user.mobile?user.mobile:"无"}}</span>
            </div>
        </div>
        <div class="linkman-open-other" ng-if="user.userType==4">
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">手机</span>
                <span class="linkman-open-other-value">{{user.mobile}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">地址</span>
                <span class="linkman-open-other-value">{{user.address?user.address:"无"}}</span>
            </div>
            <div class="linkman-open-other-item">
                <span class="linkman-open-other-label">邮件</span>
                <span class="linkman-open-other-value">{{user.email?user.email:"无"}}</span>
            </div>
        </div>

        <div class="linkman-open-btn">
            <button class="btn btn-dialog-color" ng-if="user.unGoSession==false"    ng-click="goSession(user.userId)">{{isGoing?'发起中':'发起会话'}}</button>
        </div>
    </div>
</div>
