<!--<div class="modal-header">-->
    <!--<h3 class="modal-title">创建群</h3>-->
<!--</div>-->
<!--<div class="modal-between">-->
    <!--添加群成员-->
<!--</div>-->
<div class="modal-body ng-scope clearfix">

    <div class="modal-new-left col-md-6">
        <div class="modal-new-left-head">
            <div class="input-group">
                <span class="input-group-addon input-group-span">
                    <i class="fa fa-search fa-modal-find"></i>
                </span>
                <input type="text" class="form-control input-group-find">
            </div>
        </div>
        <div class="modal-new-left-content">
            <div class="modal-new-left-class"
                 ng-class=" {'modal-new-left-class':true,'class-select':class_.id==selectGroup.id}"
                 ng-repeat="class_ in classes">
                <div ng-click="classClick(class_,$index)">
                    <span>
                        <img class="group-icon" ng-src="{{class_.open?'/node_static/images/arrow_down.png':'/node_static/images/arrow_right.png'}}"/>
                    </span>
                    <span>
                        {{class_.gradeName+class_.className}}
                    </span>
                </div>
                <div class="modal-new-right-member" ng-repeat="user in class_.students" ng-click="updateClick(user)" ng-if="class_.open">
                    <span>
                        <img ng-src="{{user.portrait}}" class="modal-new-right-member-head"/>
                    </span>
                    <span class="member-width">
                        {{user.name}}
                    </span>
                    <span class='circle-o' ng-class=" {'fa fa-circle-o':user.checked==false,'fa fa-check-circle-o circlr-x':user.checked==true}"></span>
                </div>
            </div>
        </div>






        <div class="modal-new-left-group"
             ng-class=" {'modal-new-left-group':true,'group-select':group.name==selectGroup.name}"
             ng-repeat="(code, group) in groups">
            <div ng-click="groupClick(code,group)">
                <span>
                    <img class="group-icon" ng-src="{{group.open?'/node_static/images/arrow_down.png':'/node_static/images/arrow_right.png'}}" style="width: 15px;"/>
                </span>
                <span>
                    {{group.name}}
                </span>
            </div>
            <div class="modal-new-right-member" ng-repeat="user in group.users" ng-click="updateClick(user)" ng-if="group.open">
                    <span>
                        <img ng-src="{{user.portrait}}" class="modal-new-right-member-head"/>
                    </span>
                    <span class="member-width">
                        {{user.name}}
                    </span>
                <span class='circle-o' ng-class=" {'fa fa-circle-o':user.checked==false,'fa fa-check-circle-o circlr-x':user.checked==true}"></span>
            </div>
        </div>
    </div>



    <div class="modal-new-right col-md-6">
        <div class="modal-new-right-name">
            <div class="modal-new-right-tip">{{checkPersonCount == 0?"请勾选需要添加的联系人":"新添加了"+checkPersonCount+"个联系人"}}</div>
            <div class="modal-new-right-delete"  ng-click="cancel()"><i class="fa fa-times"></i></div>
        </div>
        <div class="modal-new-selected">
            <div  class="modal-update-down-edit" ng-repeat="user in selectUsers">
                <!--ng-class="{'modal-new-down':user.lock==true,'modal-update-down-edit':user.lock==false}"-->
                <span>
                    <img ng-src="{{user.portrait}}"/>
                </span>
                <span class="modal-new-width">
                    {{user.name}}
                </span>
                <span class="modal-new-delete" ng-click="removeMember(user)" ng-if="!user.lock">
                     <i class="fa fa-times-circle"></i>
                </span>
                <hr>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-style"   ng-click="ok()">确定</button>
        <button type="button" class="btn btn-default btn-style" ng-click="cancel()">取消</button>
    </div>
</div>