<button type="button" class="close" ng-click="closePhoto()">×</button>
<div class="recorder-pic">
     <!--<div class="recorder-pic-btn text-left col-lg-2" ng-style="imgStytle">-->
         <!--<i class="fa fa-angle-left"></i>-->
     <!--</div>-->
     <div class="recorder-pic-img text-center dialog-img">
         <img ng-src="{{resUrl}}/{{message}}" ng-click="magnify()"/>
     </div>
     <!--<div class="recorder-pic-btn text-right col-lg-2" ng-style="imgStytle">-->
         <!--<i class="fa fa-angle-right"></i>-->
     <!--</div>-->
</div>