<div>
    <div class="modal-header">
        <h3 class="modal-title">创建群wwwww</h3>
    </div>
    <div class="modal-between">
        添加群成员
    </div>
    <div class="modal-body ng-scope clearfix">
        <div class="modal-new-left">
            <div class="modal-new-left-class"
                 ng-class=" {'modal-new-left-class':true,'class-select':class_.id==global.selectGroup.id}"
                 ng-repeat="class_ in classes" ng-click="classClick(class_)">
            <span>
                {{class_.gradeName+class_.className}}
            </span>
            </div>
            <div class="modal-new-left-group"
                 ng-class=" {'modal-new-left-group':true,'group-select':group.name==global.selectGroup.name}"
                 ng-repeat="(code, group) in groups" ng-click="groupClick(code,group)">
            <span>
                {{group.name}}
            </span>
            </div>

        </div>
        <div class="modal-new-right">
            <div class="modal-new-right-name">姓名</div>
            <div class="modal-new-right-member" ng-repeat="user in groupUsers" ng-click="newClick(user)" ng-if="!update">
                <span class='circle-o' ng-class=" {'fa fa-circle-o circle-o':!user.checked,'fa fa-check-circle-o circle-x':user.checked}"></span>
            <span>
               <img ng-src="{{user.portrait}}"/>
            </span>
                <span class="member-width">{{user.name}}</span>
            </div>
            <div class="modal-new-right-member" ng-repeat="user in groupUsers" ng-click="updateClick(user)" ng-if="update">
                <span class='circle-o' ng-class=" {'fa fa-circle-o':user.checked==false,'fa fa-check-circle-o':user.checked==true}"></span>
            <span>
               <img ng-src="{{user.portrait}}"/>
            </span>
                <span class="member-width">{{user.name}}</span>
            </div>
        </div>
    </div>
    <div class="modal-new-selected"  ng-if="!update">
        <span>已选成员(单击移除)</span>
        <div class="modal-new-name">姓名</div>
        <div class="modal-update-down-edit"   ng-repeat="user in global.selectUsers" ng-click="removeMember(user)">
            <span class="update-img">
                <img ng-src="{{user.portrait}}"/>
            </span>
            <span>
                {{user.name}}
            </span>
        </div>
    </div>
    <div class="modal-new-selected" ng-if="update">
        <span>已选成员(单击移除)</span>
        <div class="modal-new-name">姓名</div>
        <div ng-class=" {'modal-new-down':user.lock==true,'modal-update-down-edit':user.lock==false}"  ng-repeat="user in global.selectUsers" ng-click="removeMember(user)">
            <span>
                <img ng-src="{{user.portrait}}"/>
            </span>
            <span class="modal-new-width">
                {{user.name}}
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary"   ng-click="ok()">确定</button>
    </div>
</div>
