<div class="container">
    <div class="act-content">
        <h2 class="text-center" ng-bind="activity.actName"></h2>
        <div ng-bind-html="to_trusted(activity.desc)"></div>
    </div>
    <div class="status-bar" ng-show="activity.dataStatus!=0">
        <p class="apply-info" ng-bind="'报名截止时间:'+activity.deadline+',已有'+activity.actNum+'人参与活动'"></p>
        <div>
            <a ng-class="{'col-end':activity.dataStatus==3}" class="btn btn-half col-xs-6"
            ng-show="activity.dataStatus==1||activity.dataStatus==3" ng-click="submitAct()" ng-disabled="doSubmit"
            ng-bind="activity.dataStatus==1?'提&nbsp;&nbsp;&nbsp;&nbsp;交':'取消报名'">
            提&nbsp;&nbsp;&nbsp;&nbsp;交</a>
            <a class="btn  btn-half col-xs-6 col-end" ng-show="activity.dataStatus==2" ng-bind="'已截止'"></a>
            <a href="#/"  class="btn  btn-half col-xs-6 col-back"><i class="fa fa-chevron-circle-left">&nbsp;返回列表</i></a>
        </div>
    </div>
    <div class="status-bar pt-0" ng-show="activity.dataStatus==0">
        <a href="#/"  class="btn btn-block col-back"><i class="fa fa-chevron-circle-left">&nbsp;返回列表</i></a>
    </div>
    <input value="" id="cover" hidden/>
</div>

